# ==============================
# 🌍 CONFIGURACIÓN GENERAL
# ==============================
NODE_ENV=development
SERVER_PORT=3000

# ==============================
# 🗄️ CONFIGURACIÓN BASE DE DATOS
# ==============================
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=9291
DB_NAME=spotify

# ==============================
# ⚙️ SEGURIDAD Y LÍMITES
# ==============================
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=100

# ==============================
# 🔐 ENCRIPTACIÓN
# ==============================
BCRYPT_SALT_ROUNDS=10
